{% load core_extras %}
<table border=1>
	<tr>
		<th>Name</th>
		<th>Year</th>
		<th>Actors</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	{% for movie in movie_list %}
    {% comment %} {% with info=movie|get_value_from_dict:id %} {% endcomment %}
	<tr>
		<td>{{ movie.name }}</td>
		<td>{{ movie.year }}</td>
		<td>{{ movie.actors }}</td>
		<td>
			<button type="button">
  	  			{% comment %} {% with movie|concVar:key as link %} {% endcomment %}
  	  			<a href="/edit/{{movie}}"> Edit </a> 
  	  			{% comment %} {% endwith %} {% endcomment %}
			</button>
  	  	</td> 
		<td>
			<button type="button">
				{% comment %} {% with "movies/delete/"|concVar:key as link %} {% endcomment %}
  	  			<a href="/delete/{{movie}}"> Delete </a> 
  	  			{% comment %} {% endwith %} {% endcomment %}
			</button>
		</td>
	</tr>
	{% endfor %}
</table>