{% load core_extras %}
<table border=1>
	<tr>
		<th>Name</th>
		<th>Year</th>
		<th>Actors</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	{% for key, element in movie_list.items %}
	<tr>
		<td>{{ element.name }}</td>
		<td>{{ element.year }}</td>
		<td>{{ element.actors }}</td>
		<td>
			<button type="button">
  	  			{% with "http://localhost:8000/movies/edit/"|concVar:key as link %}
  	  			<a href={{ link }}> Edit </a> 
  	  			{% endwith %}
			</button>
  	  	</td> 
		<td>
			<button type="button">
				{% with "http://localhost:8000/movies/delete/"|concVar:key as link %}
  	  			<a href={{ link }}> Delete </a> 
  	  			{% endwith %}
			</button>
		</td>
	</tr>
	{% endfor %}
</table>