{% extends "core/base.html" %}
{% block content %}
    <button class="form">
        <a href="/movies/add_movie">Add Movie</a>
    </button>
    <table>
        <tr>
            <td>Name</td>
            <td>Year</td>
            <td>Actors</td>
            <td></td>
        </tr>
        {% for movie in movie_list %}
        <tr>
            <td>{{ movie.name }}</td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.actors }}</td>
            <td><div class="form"><a href="/recipes/edit_movie/" + {{movie.index}}>Edit Movie</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}