{% if messages %}
	{% for message in messages %}
    {% if message.tags == 'error' %}
    	{{ message }}
    {% endif %}
    {% if message.tags == 'success' %}
		Are you sure you want to delete this movie? <br>
		Name: {{ cookie.name }} <br>
		Year: {{ cookie.year }} <br>
		Actors: {{ cookie.actors }} <br>

		<form action="#" method="get">
		 <input type="submit" class="btn" value="Yes" name="yes">
		</form>
		<form action="#" method="get">
		 <input type="submit" class="btn" value="No" name="no">
		</form>
    {% endif %}
    {% endfor %}
{% endif %}