{% extends "core/base.html" %}
{% block content %}
<!--so create a html page with url view so you can view the data-->
<form action="" method="post">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" required><br/><br/>
    <label for="year">Year:</label>
    <input type="text" name="year" required><br/><br/>
    <label for="actors">Actors:</label>
    <input type="textarea" name="actors" required><br/><br/>
    <input type="submit" value="Submit">
    {% comment %} <button type="submit">Submit</button> {% endcomment %}
</form>
{% endblock content %}